.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6vh;
  padding: 5px;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #fff;
}

.header__logo {
  height: 20px;
  object-fit: contain;
  margin-left: 10px;
}

.header__input {
  display: flex;
  align-items: center;
  width: 40%;
  border: 1px solid lightgray;
}

.header__input > input {
  flex: 1;
  /* width: 100%; */
  border: none;
  /* border: 1px solid lightgray; */
  padding: 3px;
}
.header__input > input:focus {
  outline: none;
}

.header__input > .button {
  border: none;
  border: 1px solid lightgray;
  padding: 0 5px;
  /* width: 50px !important; */
  background-color: #fafafa;
}

.header__searchButton {
  /* width: 50px !important; */
  /* font-size: 1.5rem !important; */
  /* height: 100% !important; */
  /* height: 100% !important; */
  /* background-color: #fafafa; */
  /* border: 1px solid lightgray; */
  color: gray;
}

.header__icons {
  display: flex;
  align-items: center;
}

.header__icon {
  margin-right: 8px;
}
